* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  #header {
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
  }
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
  .logo {
    margin-top: 30px;
    width: 100px;
  }
  .header-text {
    margin-top: 150px;
    max-width: 350px;
  }
  h1 {
    font-size: 30px;
  }
  .square {
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color: #f67c92;
    margin: 15px 0px;
  }
  .common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
  }
  p {
    font-size: 15px;
    line-height: 20px;
  }
  .header-text button {
    margin-top: 20px;
  }
  .line-1 {
    height: 20px;
    width: 20px;
    background-color: #f67c92;
    display: inline-block;
  }
  .line-2 {
    height: 2px;
    width: 60px;
    background-color: #f67c92;
    display: inline-block;
  }
  .line-3 {
    height: 2px;
    width: 80px;
    background-color: #f67c92;
    display: inline-block;
  }
  .line {
    margin-top: 60px;
    line-height: 10px;
  }
  #sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    background-color: #f67c92;
    transition: 0.5s;
  }
  nav ul li {
    list-style: none;
    margin: 50px 40px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  #menubtn {
    width: 50px;
    position: fixed;
    z-index: 2;
    right: 40px;
    top: 30px;
    cursor: pointer;
  }
  /* ---------------------------------about us  --------------------------------*/
  #aboutus,
  #offer {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .leftcolumn {
    flex-basis: 50%;
  }
  .leftcolumn img {
    width: 100%;
  }
  .rightcolumn {
    flex-basis: 50%;
    text-align: right;
  }
  .abouttext {
    max-width: 500px;
    display: inline-block;
    margin-right: 100px;
  }
  .abouttext h2 {
    margin: 50px 0 10px;
    font-size: 25px;
    font-style: italic;
  }
  .abouttext h3 {
    color: #797979;
    font-size: 25px;
    font-style: italic;
  }
  /*-------------------------------------features ---------------------------------*/
  #features {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .features-row {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .features-col {
    flex-basis: 25%;
    text-align: center;
  }
  .features-col img {
    width: 150px;
  }
  .features-col h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400px;
  }
  .features-btn {
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .features-btn .line {
    text-align: right;
    display: inline-block;
    margin-right: 25px;
  }
  /* --------------------------------------------courses-------------------------- */
  #courses {
    padding: 100px 0;
  }
  .course-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .courses-right-column {
    flex-basis: 50%;
  }
  .courses-right-column img {
    width: 100%;
  }
  .courses-left-column {
    flex-basis: 50%;
  }
  .about-text {
    max-width: 350%;
  }
  .about-text button {
    margin: 30px 0;
  }
  /*--------------------------- offer---------------------- */
  #offer button {
    margin: 30px 0;
  }
  /*----------------------- contactUs ------------------------------*/
  .contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .contact-left-column,
  .contact-right-column {
    flex-basis: 50%;
  }
  .contact-right-column img {
    width: 100%;
  }
  form {
    max-width: 350%;
    margin: 30px 0;
  }
  form input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
  }
  .btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btn-box button {
    flex-basis: 48%;
    padding: 18px 0px;
  }
  /*----------------- footer --------------------*/
  #footer {
    padding: 50px 0 30px;
  }
  hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
  }
  .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-left-column {
    flex-basis: 50%;
    margin-top: 60px;
  }
  .footer-right-column {
    flex-basis: 35%;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .link-title h4 {
    color: #fab3c4;
    margin-bottom: 20px;
  }
  .link-title small {
    font-size: 13px;
    color: #777;
  }
  .footer-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-logo img {
    width: 100px;
  }
  .footer-logo button {
    padding: 1px 38px;
    margin: 20px;
    font-size: 15px;
  }
  .copyright-text,
  .footer-logo {
    flex-basis: 40%;
  }
  /*---------------- social-icons --------------------*/
  .social-icon {
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
  .social-icon img {
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 770px) {
    #header {
      background-image: none;
    }
    .container {
      margin-left: 50px;
      margin-right: 50px;
    }
    .logo {
      margin-top: 27px;
      width: 70px;
    }
    .header-text {
      margin-top: 150px;
    }
    h1 {
      font-size: 25px;
    }
    #menubtn {
      width: 40px;
      right: 50px;
    }
    .common-btn {
      padding: 10px 16 px;
    }
    .social-icon img {
      width: 14px;
      margin: 15px auto;
    }
    .leftcolumn,
    .rightcolumn {
      flex-basis: 100%;
    }
    .abouttext {
      display: inline-block;
      margin: 50px 50px 0;
    }
    .abouttext h2 {
      font-size: 18px;
    }
    .feature-col {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
    .courses-left-column {
      flex-basis: 100%;
    }
    .courses-right-column {
      flex-basis: 100%;
      margin-top: 70px;
    }
    .contact-left-column,
    .contact-right-column {
      flex-basis: 100%;
    }
    .contact-right-column {
      margin-top: 50px;
    }
    .footer-left-column,
    .footer-right-column {
      flex-basis: 100%;
    }
    .link-title {
      flex-basis: 50%;
      margin-bottom: 30px;
    }
  }
  